<!DOCTYPE html>
<html>
<title>Triton Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>

<div class="container1">
    <hr>
    <h2><b>Buyers</b></h2>
</div>  


<hr>
    <div class="container2">
        <table style="width:100%">
            <tbody>
                {{# each users}}
                <tr>
                    <th>
                        <img src="{{this.imageURL}}" width="100px" height="100px">
                    </th>
                    <th>
                        <p>hello</p>
                        <p><a href="#">{{this.name}}</a></p>
                        <h3>{{this.amount}}</h3>
                    </th> 
                    <th>
                        <input type="button" id="sendButton" value="Sell Now" onclick="window.location.href='buySell3'" />
                    </th> 
                </tr>
                {{/each}}
        </tbody>
        </table>
    </div> 
 

<hr>

<div class="w3-bar w3-border w3-light-grey">
  <a href="/" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="history" class="w3-bar-item w3-button">Purchase History</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget Plan</a>
</div>


<style>
    .center{
        margin: auto;
    }
    
    .w3-bar {
        margin-bottom: 0px;
        position:fixed;
        left: auto;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
    }

    .w3-button {
        padding: 70px 0;
        text-align: center;
    }
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

</style>
</body>
