<!DOCTYPE html>
<html>
<head>
<title>Triton Feed</title>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>
<div class="container1">
	<hr>
    <h2><b>Buy & Sell</b></h2>
	</div>  

<hr>
	<div class="container2" id = "light">
	    <h3>I want to buy or sell:</h3>
        <br>
        <h5>$ <input type="text" id="input"></h5>
        <br>
        <br>
        <button id="buyButton" class="button"> Buy </button>
        <button id="sellButton" class="button"> Sell </button>
	 </div>
    
     <div class="container2" id="result"> <h3> </h3> </div>
    
     <div class="container2" id="dark">  
     <button id="confirm" class="button" > Yes </button>
     <button id="deny" class="button"> No </button>   
     </div>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="inbox" class="w3-bar-item w3-button">Inbox</a>
</div>

<script type="text/javascript">
    
 document.getElementById("buyButton").onclick=function(){
     var amount = document.getElementById("input").value;
     
     if(isNaN(amount)){
         alert("Please enter a valid number!");
     } else {
     document.getElementById("result").innerHTML= "Are you sure you want to buy $" +amount+"?";
     document.getElementById("confirm").style.display="inline";
     document.getElementById("deny").style.display="inline";
     
     document.getElementById("deny").onclick = function () {
        location.href = "buySell";
    };
     
//  put next page's file name here 
     document.getElementById("confirm").onclick = function () {
        window.location.href = "buySell2";
        };
     }
 }
 
 document.getElementById("sellButton").onclick=function(){
     var amount = document.getElementById("input").value;
     
     if(isNaN(amount)){
         alert("Please enter a valid number!");
     } else{
         if (amount > 400) {
         alert("Please enter a smaller amount!");
     }else{
     document.getElementById("result").innerHTML= "Are you sure you want to sell $"+amount+"?";
     document.getElementById("confirm").style.display="inline";
     document.getElementById("deny").style.display="inline";
     
     document.getElementById("deny").onclick = function () {
        location.href = "buySell";
    };
//  put next page's file name here 
     document.getElementById("confirm").onclick = function () {
        window.location.href = "buySell2";
            };
        }
     }
 }
        
</script>
    
<style>
    
    #confirm{
        display: none;
    }
    #deny{
        display: none;
    }
	.center{
		margin: auto;
	}
    
    .w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}
	.w3-button {
		padding: 70px 0;
		text-align: center;
	}
    
 .button {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius:10px;
}
    
.button:hover {
  background-color: rgba(34, 214, 145, 0.73);
}    
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        margin: 40px;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
   
    #light{
       background-color:rgba(194, 233, 245, 0.82);
       border-radius:20px;
    }
    
</style>

</body>