<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>
<div class="w3-container w3-card">
  <h1>Triton Feed</h1>
</div>

<div class="container1">
	<hr>
    <h2><b>Request Received!</b></h2>
    <h4>We will notify you if a user wants to make an exchange with you.</h4>
    <h4>Or...</h4>
    <input type="button" value="Search Now for Buyers" onclick="window.location.href='buyers'" />
    <input type="button" value="Search Now for Sellers" onclick="window.location.href='sellers'" />
	</div>  

<hr>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage.html" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell.html" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Inbox</a>
</div>


<style>
	.center{
		margin: auto;
	}
    
    .w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}
	.w3-button {
		padding: 70px 0;
		text-align: center;
	}
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }
</style>
</body>