<!DOCTYPE html>
<html>
<head>
    <title>Triton Feed</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>

<div class="container1">
	<hr>
    <h3><b>We have successfully created your buy/sell request!</b></h3><br>
    <h4>Other users can now contact you and make an exchange with you. </h4>
    <h5>You can wait until a user tries to make an exchange with you <br>OR<br> You can look and find someone to make an exchange with now:</h5>
    

    <input type="button" class="search" value="Search Now for Buyers" onclick="window.location.href='buyers'" />
    <input type="button" class="search" value="Search Now for Sellers" onclick="window.location.href='sellers'" />
	</div> 

<br><br>

<!--navigation bar below -->  
<div>
  <ul class="nav">
    <li><a href="homePage"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/768px-Home_font_awesome.svg.png" style="width:38px;height:38px;border:0;"><br>Home</a></li>
    <li><a href="budgetPlan"><img src="https://cdn0.iconfinder.com/data/icons/content-5/100/bill-512.png" style="width:38px;height:38px;border:0;"><br>Budget</a></li>
    <li><a href="buySellPageA"><img src="https://www.svgrepo.com/show/1261/money.svg" style="width:38px;height:38px;border:0;"><br>Buy/Sell</a></li>
    <li><a href="inbox"><img src="https://cdn1.iconfinder.com/data/icons/ui-22/24/391-512.png" style="width:38px;height:38px;border:0;"><br>Notifications</a></li>
  </ul>
</div>

<style>
    body{
      margin: 0px;
    }

    ul.nav {
      width:100%;
      margin:0;
      padding:0;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      border-top: 1px solid #C4BFBF;
      list-style:none;
      background-color: white;
      text-align:center;
      font-family: sans-serif; 
    }

    .nav li { 
      display:inline-block;
      width:22%;
      margin:2px;
      padding:4px;
    }

    .nav a {
      text-align:center;
      margin:0;
      border-right: 1px solid white;
      display:block;
      text-decoration: none;
    }

    .nav a:hover { 
      background: lightblue;
      border:none;
    }

    ul.nav li:last-child a {
      border:none;
    }​

	.center{
		margin: auto;
	}
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .button {
        background-color: rgba(49, 152, 240, 0.74);
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }

    .search {
        background-color: rgba(49, 152, 240, 0.74);
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }
    
    .button:hover {
        background-color: rgba(34, 214, 145, 0.73);
    }    
   
    #light{
       background-color:rgba(194, 233, 245, 0.82);
       border-radius:20px;
    }

</style>



</body>
