<!DOCTYPE html>
<html>
<head>
	<title>Triton Feed</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">

	
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190558669-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
<link href="/css/layout.css" rel="stylesheet">




<body>
<div class="container1">
	<hr>
    <h2><b>Buy & Sell</b></h2>
	</div>  

<hr>
	<div class="row">
        <div class="column">
            <div class="containerB" id = "light">
                <dialog id="dialog1">
                    <p>This will take you to a list of people who are looking for someone to buy from or sell to so you can contact someone to make an exchange with immediately.</p>
                    <button id="close">Close</button>
                </dialog>
                <button id="show" class="buttonDiag">?</button>
                <script> 
                var dialog = document.querySelector("#dialog1");
                document.querySelector('#show').onclick = function() { 
                    dialog.show(); 
                }; 
                document.querySelector('#close').onclick = function() { 
                    dialog.close(); 
                }; 
                </script>
                <h4>Search now to</h4>
                <input type="button" class="search" value="Buy" onclick="window.location.href='sellers'" />
                <input type="button" class="search" value="Sell" onclick="window.location.href='buyers'" />
            </div>
        </div>

        <div class="column">
            <div class="containerB" id="light">
                <dialog id="dialog2">
                    <p>This will put you on the list of buyers or sellers so that others can find you and contact you if they wish to make an exchange with you</p>
                    <button id="close2">Close</button>
                </dialog>
                <button id="show2" class="buttonDiag">?</button>
                <script> 
                var dialog2 = document.querySelector("#dialog2");
                document.querySelector('#show2').onclick = function() { 
                    dialog2.show(); 
                }; 
                document.querySelector('#close2').onclick = function() { 
                    dialog2.close(); 
                }; 
                </script>
                
                <h4>Put in a request</h4>
                <input type="button" class="request" id="sendButton" value="Go" onclick="window.location.href='buySellPageA'" />
            </div>
        </div>
    </div> 

<!--navigation bar below -->  
<div>
  <ul class="nav">
    <li><a href="homePage"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/768px-Home_font_awesome.svg.png" style="width:30px;height:30px;border:0;"><br>Home</a></li>
    <li><a href="budgetPlan"><img src="https://cdn0.iconfinder.com/data/icons/content-5/100/bill-512.png" style="width:30px;height:30px;border:0;"><br>Budget</a></li>
    <li><a href="buySellPageA"><img src="https://www.svgrepo.com/show/1261/money.svg" style="width:30px;height:30px;border:0;"><br>Buy/Sell</a></li>
    <li><a href="inbox"><img src="https://cdn1.iconfinder.com/data/icons/ui-22/24/391-512.png" style="width:30px;height:30px;border:0;"><br>Notifications</a></li>
  </ul>
</div>

    
<style>
    #confirm{
        display: none;
    }
    #deny{
        display: none;
    }
	.center{
		margin: auto;
	}
    
    
    
 .button {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 2px 1px;
     cursor: pointer;
     border-radius:10px;
}
    .button:hover {
        background-color: rgba(253, 196, 42, 0.74);
    } 

.search {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 2px 1px;
     cursor: pointer;
     border-radius:10px;
}

.request {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 2px 1px;
     cursor: pointer;
     border-radius:10px;
}

.buttonDiag {
     background-color: black;
     border: none;
     color: white;
     padding: 3px 7px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     margin: 4px 2px;
     cursor: pointer;
     position: absolute;
     right: 0;
     border-radius:10px;
}
    
.button:hover {
  background-color: rgba(34, 214, 145, 0.73);
}    
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .containerB{
        margin: 20px;
        padding: 20px;
        padding-top: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        font-size: 16px;
    }
   
    #light{
       background-color: aliceblue;
       border-radius:20px;
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    
</style>

</body>