<!DOCTYPE html>
<html>
<title>Smart Dine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>

<div class="w3-container">


	<hr>
	<div class="w3-cell-row">
	  <div class="w3-cell">
	    <!--<img src="img_avatar.jpg" style="width:100%">-->
	  </div>
	  <div align="center">
	    <p>currently placeholder</p>

          <br>
	  </div>
	</div>  
	<hr>
</div>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="inbox" class="w3-bar-item w3-button">Inbox</a>
</div>


<style>
	.center{
		margin: auto;
	}

	.w3-bar {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100;
		text-align: center;
	}

	.w3-button {
		padding: 70px 0;
		text-align: center;
	}


</style>

</body>
