<!DOCTYPE html>
<html>
<head>
<title>Triton Feed</title>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">    
<script src="/js/introHCI.js"></script>
<script src="/js/facebook.js"></script>

<body>  
<div class="top"><p><a href="profile"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyAZkiP6SUoyEieBqaFL8XZpngh65bx8-yqMfOJFRGYebWJQ78" alt="person" style="width:48px;height:48px;border:0;"></a></p>
</div>
    
<div class="container1">
    <h3 id="name">Hello, Tritons!</h3>
</div>

<hr>
	  
	  <div class="container2">
          <h2><b>Your Balance:</b></h2>
	    <h1>$400</h1>
	  </div> 

<hr>
 
<div class="form">
<table align="center">
  <tr>
    <th>Item</th>
    <th>Time</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Chicken Pasta</td>
    <td>11:59PM, 2/2/2019</td>
    <td>$6.95</td>
  </tr>
  <tr>
    <td>Ice Cream</td>
    <td>2:30PM, 2/1/2019</td>
    <td>$3.95</td>
  </tr>
  <tr>
    <td>Spring Roll</td>
    <td>11:20AM, 2/1/2019</td>
    <td>$3.50</td>
  </tr>
  <tr>
    <td>Scrambled Egg</td>
    <td>10:00AM, 2/1/2019</td>
    <td>$1.75</td>
  </tr>
  <tr>
    <td>Ramen Soup</td>
    <td>11:34AM, 1/29/2019</td>
    <td>$10.00</td>
  </tr>
  <tr>
    <td>Salad Bar</td>
    <td>10:01AM, 1/29/2019</td>
    <td>$5.24</td>
  </tr>
</table> 
    </div>
<br><br><br><br>

<!--navigation bar below -->  
<div>
  <ul class="nav">
    <li><a href="homePage"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/768px-Home_font_awesome.svg.png" style="width:30px;height:30px;border:0;"><br>Home</a></li>
    <li><a href="budgetPlan"><img src="https://cdn0.iconfinder.com/data/icons/content-5/100/bill-512.png" style="width:30px;height:30px;border:0;"><br>Budget</a></li>
    <li><a href="buySellPageA"><img src="https://www.svgrepo.com/show/1261/money.svg" style="width:30px;height:30px;border:0;"><br>Buy/Sell</a></li>
    <li><a href="inbox"><img src="https://cdn1.iconfinder.com/data/icons/ui-22/24/391-512.png" style="width:30px;height:30px;border:0;"><br>Notifications</a></li>
  </ul>
</div>



<style>
    body{
        font-family: 'Open Sans', sans-serif;
        background-image: linear-gradient(rgba(121, 224, 255, 0.78), rgba(247, 255, 187, 0.58));
        margin: 0;
        background-attachment: fixed;
    }

    ul.nav {
      width:100%;
      margin:0;
      padding:0;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      list-style:none;
      background-color: white;
      text-align:center;
      font-family: sans-serif; 
    }

    .nav li { 
      display:inline-block;
      width:22%;
      margin:0px 4px 0px 4px;
      padding:2px;
    }

    .nav a {
      text-align:center;
      margin:0;
      display:block;
      text-decoration: none;
    }

    .nav a:hover { 
      background: lightblue;
      border:none;
    }

    ul.nav li:last-child a {
      border:none;
    }​

    .top{
        float:left;
        display:inline-block;
        margin-top:0px;
    }

	.button {
		padding: 70px 0;
		text-align: center;
	}
    .container1{
        margin-top: 10px;
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .container2{
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    #container3{
        margin-left: 15px;
    }

    td, th {
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: rgba(221, 221, 221, 0.54);
    }
    
    tr:nth-child(odd) {
      background-color: rgba(255, 254, 254, 0.46);
    }
    
    
</style>

</body>
</html>
