<!DOCTYPE html>
<html>
<title>Smart Dine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>

<div class="w3-container w3-card">
  <h1>Triton Feed</h1>
</div>

<div class="w3-container">


<div>
	<h3> Hello, Emi!</h3>
</div>


	<hr>
	<div class="w3-cell-row">
	  <div class="w3-cell" style="width:30%">
	    <!--<img src="img_avatar.jpg" style="width:100%">-->
	  </div>
	  <div class="w3-cell w3-container center">
	    <h3>Your Balance:</h3>
          <br>
	    <p>_____________</p>
	  </div>
	</div>  
	<hr>
</div>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage.html" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell.html" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Inbox</a>
</div>

<div align="center" class="w3-container">    
<header> Purchase History</header>

<div class="w3-cell-row">
<div class="w3-cell w3-container center">
<table align="center">
  <tr>
    <th>Item</th>
    <th>Time</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Chicken Pasta</td>
    <td>11:59PM,2/2/2019</td>
    <td>$6.95</td>
  </tr>
  <tr>
    <td>Green Tea Ice-cream</td>
    <td>2:30PM, 2/1/2019</td>
    <td>$3.95</td>
  </tr>
  <tr>
    <td>Spring Roll</td>
    <td>11:20AM,2/1/2019</td>
    <td>$3.5</td>
  </tr>
  <tr>
    <td>Scrambled Egg</td>
    <td>10:00AM,2/1/2019</td>
    <td>$1.75</td>
  </tr>
  <tr>
    <td>Ramen Noodle Soup</td>
    <td>11:34AM, 1/29/2019</td>
    <td>$10.00</td>
  </tr>
  <tr>
    <td>Salad Bar</td>
    <td>10:01AM,1/29/2019</td>
    <td>$5.24</td>
  </tr>
</table>
</div>  
</div> 
</div>  


<style>
	.center{
		margin: auto;
	}

	.w3-bar {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100;
		text-align: center;
	}

	.w3-button {
		padding: 70px 0;
		text-align: center;
	}


</style>

</body>
