<!DOCTYPE html>
<html>
<title>Triton Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>
<div class="container1">
	<hr>
    <h2><b>Inbox</b></h2>
	</div>  

<hr>
    <div class="container2">
	    <h3>Here are your unread messages:</h3>
    </div>
    
    <div class="container3" id="mes1">
    2/19 <b>App Notification:</b> Your app is out of date, click here to...
    </div>
    
    <div class="container3" id="mes2">
    2/19 <b>Buy Request:</b> Your received a new buy request, click here to...
    </div>
    
    <div class="container3" id="mes3">
    2/19 <b>Free Event:</b> Pines is having a free food event tonight, check here...
    </div>
    
    <div class="container3" id="mes4">
    2/18 <b>App Notification:</b> Congratulations! We received your buy request and...
    </div>
    
    <div class="container2">
    <button id="back" class="button"> Back to Home</button>
    </div>
    
<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="inbox" class="w3-bar-item w3-button">Inbox</a>
</div>

<script type="text/javascript">
    
 document.getElementById("back").onclick=function(){
     location.href = "homePage";}
     
 document.getElementById("mes1").onclick=function () {
     location.href =  "message1" }
 
 document.getElementById("mes2").onclick=function () {
     location.href = "message2";} 
 
 document.getElementById("mes3").onclick=function () {
     location.href = "message3";} 
 
 document.getElementById("mes4").onclick=function () {
     location.href = "message4";} 
</script> 
    
<style> 
    #mes1{
      text-align: center;
    }
    #mes2{
      text-align: center;  
    }
    #mes3{
      text-align: center;  
    }
    #mes4{
      text-align: center;  
    }
    
    #back{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	}
    
	.center{
		margin: auto;
	}
    
    .w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}
	.w3-button {
		padding: 70px 0;
		text-align: center;
	}
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        margin: 30px;
        padding-bottom: 0px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    
    .container3{
     // width: 450px;
    //  height: 80px;
      background-color: rgb(199, 248, 248); 
      color:#474450;
      border-radius: 15px;
      margin: 10px 30px 15px 30px; 
      text-align: center;
      font-size: 20px;
    }
    
    .container3:hover
    {
      background-color: aliceblue; 
    }

    .button {
        background-color: rgba(49, 152, 240, 0.74);
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }
    
    .button:hover {
        background-color: rgba(34, 214, 145, 0.73);
    }    
   
    #light{
       background-color:rgba(194, 233, 245, 0.82);
       border-radius:20px;
    }
    
</style>
</body>