<html>
<head>
	<title>Smart Dine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
</head>

<body>
	<h3>Please go to localhost:3000/homePage to go to our homepage and start navigating through our screens!</h3>
	

</body>
</html>
