<html>
<head>
	<title>Hello Emi!</title>
</head>

<body>
	<div id="quarterly">
		<h1>Quarterly Budget</h1>
		<br>
	</div>

	<div id="weekly">
		<h1>Weekly Budget</h1>
		<br>
	</div>

	<div id="daily">
		<h1>Daily Budget</h1>
		<br>
	</div>

</body>
</html>
