<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>
	<div class="w3-cell-row">
	  <div class="w3-cell">
	   </div>

	  <div align= "center">
	    <h1>Triton Feed</h1>
	  </div>
	</div>  
	<hr>

	<div align="center">
		<h4>Welcome!</h4>
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/designs/12044341,width=178,height=178,version=1343984838/trident-neptune.png" width="50" height="50">
		<h4>Login using your Online Card Office username and password:</h4>
		
		<form action="homePage">
        <br>
		Username: <input type="text" value=""><br>
        <br>
		Password: <input type="password" value=""><br>
        <br>    
		<input type="submit" value="Login">
		</form>

	</div>


</body>
