<!DOCTYPE html>
<html>
<head>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<script src="/js/introHCI.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>

<body>
	<div class="w3-cell-row">
	  <div class="w3-cell">
	   </div>

	  <div align= "center">
	    <h1>Triton Feed</h1>
	  </div>
	</div>  
	<hr>

	<div align="center">
		<h4>Welcome!</h4>
			<img src="https://image.spreadshirtmedia.com/image-server/v1/mp/designs/12044341,width=178,height=178,version=1343984838/trident-neptune.png" width="50" height="50">
		<h4>Login using your Online Card Office username and password:</h4>
		
        <br>
		Username: <input type="text" id="name" placeholder="Student ID without 'A'"><br>
        <br>
		Password: <input type="password" id="password" placeholder="Your account password"><br>
        <br>    
		<button id="login" class="button"> Start Budgeting! </button>

		<hr>
		<p class="facebookLogin">Or login with Facebook:</p>
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
		<hr>

	</div>

<script type="text/javascript">
    
 document.getElementById("login").onclick=function(){
     var name = document.getElementById("name").value;
     var pass = document.getElementById("password").value;
     
     if((isNaN(name))||(name=="")){
         alert("Please enter a valid student ID!");
     } 
     else if(pass == "") {
         alert("Please enter a valid password!");
     }  
     else{
     location.href = "homePage"; 
    };
     
 }
</script>
    
    
<style>
	.button {
        background-color: rgba(49, 152, 240, 0.74);
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }
    
    .button:hover {
        background-color: rgba(34, 214, 145, 0.73);
    }    
   
    #light{
       background-color:rgba(194, 233, 245, 0.82);
       border-radius:20px;
    }
</style>


</body>
