<!DOCTYPE html>
<html>
<title>Triton Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>

<div class="container1">
    
    <h2> Message Details </h2>
    
</div>    

<hr>
	  
<div class="container2">
          Emily requested to sell $300 dinning dollars to you. Start contact her now! 
    
</div> 

<div id="info">  </div>   
    
<div class="container3">
    <button id="back1"> Back to Home </button>
    <button id="back2"> Contact Info </button>
    </div> 
    
<hr>
    
<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="inbox" class="w3-bar-item w3-button">Inbox</a>
</div>

<script type="text/javascript">   
 document.getElementById("back1").onclick=function(){
     location.href = "homePage"; }  
 
 
 $("#back2").click(function(){
  $("#info").html("Tel:858-247-1234 <br> Email:yug123@ucsd.edu");
});
 
</script>    
    
    
    
<style>
    #info{
        text-align: center;
    }
    
    #back1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	}
    
    #back2{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	}
    
	.w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}
    .container1{
        margin-top: 50px;
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .container2{
      width: 450px;
      height: 200px;
      color:#474450;
      border-radius: 15px;
      margin: auto;
      margin-bottom: 20px;
      padding:10px;
      text-align: left;
      font-size: 20px;
      background-color: aliceblue;
    }
    .container3{
        padding:20px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
</style>
</body>
