<!DOCTYPE html>
<html>
<head>
<title>Triton Feed</title>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135186913-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">    

<body>

<div class="container1">
    
    <h2> Message Details </h2>
    
</div>    

<hr>
	  
<div class="container2">
          "Destress Brunch" is today! Come to Pines from 10AM to 12PM. Free Food!  
    
</div> 

<div class="container3">
    <button id="back" class="button"> Back </button>
    </div> 
    
<hr>
    
<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="inbox" class="w3-bar-item w3-button">Notifications</a>
</div>

<script type="text/javascript">   
 document.getElementById("back").onclick=function(){
     location.href = "inbox"; }      
</script>    
    
    
    
<style>
    #back{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
	}
    
	.w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}
    .container1{
        margin-top: 50px;
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .container2{
      width: 450px;
      height: 200px;
      color:#474450;
      border-radius: 15px;
      margin: auto;
      margin-bottom: 20px;
      padding:10px;
      text-align: left;
      font-size: 20px;
      background-color: aliceblue;
    }
    .container3{
        padding:20px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    .button {
        background-color: rgba(49, 152, 240, 0.74);
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:10px;
    }
    
    .button:hover {
        background-color: rgba(34, 214, 145, 0.73);
    }    
   
    #light{
       background-color:rgba(194, 233, 245, 0.82);
       border-radius:20px;
    }
    
</style>

</body>
