<!DOCTYPE html>
<html>
<title>Triton Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">    

<body>

<div class="container1">
    <span class="dot"></span>
    <h2> Emi Oda </h2>
    <h5> Dinning Plan: $2080 </h5>
</div>    

<hr>
	  
<div class="container2">
          <h3><b>Tel:858-247-1234</b></h3>
          <br>
          <h3><b>Email: emi@ucsd.edu</b></h3>
          <br>
          <h3><b>Balance: $400</b></h3>
          <br>
</div> 

<div class="container3">
    <button id="logout">Log Out</button>
</div> 
    
<hr>
    
<div class="w3-bar w3-border w3-light-grey">
  <a href="/" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="history" class="w3-bar-item w3-button">Purchase History</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell" class="w3-bar-item w3-button">Buy/Sell</a>
</div>

<script>

    //put the log-in page name right here! :]
 document.getElementById("logout").onclick = function () {
        location.href = "";
    };   
    
</script>  
    
<style>
    .dot {
        height: 80px;
        width: 80px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
}
    
	.w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}

	.w3-button {
		padding: 70px 0;
		text-align: center;
	}
	.button {
		padding: 70px 0;
		text-align: center;
	}
    .container1{
        margin-top: 50px;
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .container2{
        border-style: solid;
        border-width: thin;
        border-color: aliceblue;
        margin-left: 50px;
        margin-right:50px;
        border-radius: 20px;
        padding:10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        background-color: aliceblue;
    }
    .container3{
        padding:20px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
</style>
</body>
