<!DOCTYPE html>
<html>
<title>Smart Dine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body>

<div class="w3-container w3-card">
  <h1>Triton Feed</h1>
</div>

<div class="w3-container">


	<hr>
	<div class="w3-cell-row">
	  <div class="w3-cell">
	  </div>

<div class="container2">
        <table style="width:100%">

             
             <div align="center">
                    <h4>Person 1 will receive your request!</h4>
                    <div class="circle"></div>
              </div>
                    
        </table>
    </div> 

	  <div align="center">
	    <p>Leave a Message:</p>

		<form action="">
		<input type="text" value=""><br>
		<input type="submit" value="Send">
		</form>

          <br>
	  </div>
	</div>  
	<hr>
</div>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage.html" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Budget</a>
  <a href="buySell.html" class="w3-bar-item w3-button">Buy/Sell</a>
  <a href="budgetPlan.html" class="w3-bar-item w3-button">Inbox</a>
</div>


<style>
	.circle {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-color: white;
    border:1px solid black; 
	}

	.center{
		margin: auto;
	}

	.w3-bar {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100;
		text-align: center;
	}

	.w3-button {
		padding: 70px 0;
		text-align: center;
	}


</style>

</body>

