<!DOCTYPE html>
<html>
<title>Triton Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

<body>

<div class="container1">
	<hr>
    <h2><b>Sellers</b></h2>
	</div>  

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                	<img src="http://lorempixel.com/100/100/people/9">
                </th>
                <th>
                    <p>Person 1</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" id="sendButton" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 
    
<hr>
    
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/10">
                </th>
                <th>
                    <p>Person 2</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now"" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/8">
                </th>
                <th>
                    <p>Person 3</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/4">
                </th>
                <th>
                    <p>Person 3</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/5">
                </th>
                <th>
                    <p>Person 4</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/6">
                </th>
                <th>
                    <p>Person 5</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>
    <div class="container2">
        <table style="width:100%">
            <tr>
                <th>
                    <img src="http://lorempixel.com/100/100/people/7">
                </th>
                <th>
                    <p>Person 7</p>
                    <h3>$_______</h3>
                </th> 
                <th>
                    <input type="button" value="Buy Now" onclick="window.location.href='requestReceived2'" />
                </th>

            </tr>
        </table>
    </div> 

<hr>

<div class="w3-bar w3-border w3-light-grey">
  <a href="homePage" class="w3-bar-item w3-button w3-green">Home</a>
  <a href="history" class="w3-bar-item w3-button">Purchase History</a>
  <a href="budgetPlan" class="w3-bar-item w3-button">Budget Plan</a>
</div>


<style>
	.center{
		margin: auto;
	}
    
    .w3-bar {
        margin-bottom: 0px;
        position:fixed;
		left: auto;
		bottom: 0px;
        margin-left: auto;
        margin-right: auto;   
	}

	.w3-button {
		padding: 70px 0;
		text-align: center;
	}
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

</style>
</body>
