<!DOCTYPE html>
<html>
<head>
    <title>Triton Feed</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
    
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/navbar.css" rel="stylesheet">


<body>
<div class="container1">
	<hr>
    <h2><b>Sell</b></h2>
	</div>  
<hr>

	<div class="container2" id = "light">
	    <h3>I want to sell:</h3>
        <br>
        <h5>$ <input type="text" id="input"></h5>
        <br>
        <button id="sellButton" class="request"> Enter </button>
	 </div>
    
     <div class="container2" id="result"> <h3> </h3> </div>
    
     <div class="container2" id="dark">  
     <button id="confirm" class="button" > Yes </button>
     <button id="deny" class="button"> No </button>   
     </div>
     <br><br><br><br>

<!--navigation bar below -->  
<div>
  <ul class="nav">
    <li><a href="homePage"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/768px-Home_font_awesome.svg.png" style="width:30px;height:30px;border:0;"><br>Home</a></li>
    <li><a href="budgetPlan"><img src="https://cdn0.iconfinder.com/data/icons/content-5/100/bill-512.png" style="width:30px;height:30px;border:0;"><br>Budget</a></li>
    <li><a href="buySell"><img src="https://www.svgrepo.com/show/1261/money.svg" style="width:30px;height:30px;border:0;"><br>Buy/Sell</a></li>
    <li><a href="inbox"><img src="https://cdn1.iconfinder.com/data/icons/ui-22/24/391-512.png" style="width:30px;height:30px;border:0;"><br>Notifications</a></li>
  </ul>
</div>

<script type="text/javascript">

 
 document.getElementById("sellButton").onclick=function(){
     var amount = document.getElementById("input").value;
     
     if(isNaN(amount)){
         alert("Please enter a valid number!");
     } else{
         if (amount > 400) {
         alert("You only have $400 in your balance!");
     }else{
     document.getElementById("result").innerHTML= "Are you sure you want to sell $"+amount+"?";
     document.getElementById("confirm").style.display="inline";
     document.getElementById("deny").style.display="inline";
     
     document.getElementById("deny").onclick = function () {
        location.href = "sell2";
    };
//  put next page's file name here 
     document.getElementById("confirm").onclick = function () {
        window.location.href = "buySell2";
            };
        }
     }
 }
        
</script>
    
<style>
    #confirm{
        display: none;
    }

    #deny{
        display: none;
    }

	.center{
		margin: auto;
	}
    
 .button {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius:10px;
}
.button:hover {
        background-color: rgba(253, 196, 42, 0.74);
    } 
.request {
     background-color: rgba(49, 152, 240, 0.74);
     border: none;
     color: white;
     padding: 8px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius:10px;
}
    
.button:hover {
  background-color: rgba(34, 214, 145, 0.73);
}    
    
    .container1{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    
    .container2{
        margin: 40px;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
   
    #light{
       background-color: aliceblue;
       border-radius:20px;
    }
    
</style>

</body>